<div class="text-center mt-5">

<h1>Proyectos personales 2023</h1>
<p>Autor: Daniela Paz Nahuelpán Sierra</p>

</div>

<div class="row text-center">

    <div class="col-md-4 mt-5">

        <div class="card">
            <%= image_tag 'OLIVIAROS.png', alt:"Proyecto oliviaros"%>
            <div class="card-body">
                <h5 class="card-title">OLIVIA ROS</h5>
                <p class="card-text">Proyecto realizado en el segundo módulo de desafío latam, inciando el conocimiento en html</p>
                <a href="#" class="btn btn-primary" id="boton">¿Que te parece?</a>
            </div>
        </div>
    
    </div>

    <div class="col-md-4 mt-5">

        <div class="card">
            <%= image_tag 'RICOMIDA.png', alt:"Proyecto ricomida"%>
            <div class="card-body">
                <h5 class="card-title">RICOMIDA</h5>
                <p class="card-text">Proyecto realizado en el sgundo módulo de desafío latam, aplicando conocimientos como bootstrap</p>
                <a href="#" class="btn btn-primary" id="boton">¿Que te parece?</a>
            </div>
        </div>
    
    </div>

    <div class="col-md-4 mt-5">

        <div class="card">
            <%= image_tag 'VIAJESCHILE.png', alt:"Prueba final modulo"%>
            <div class="card-body">
                <h5 class="card-title">VIAJES CHILE</h5>
                <p class="card-text">Prueba final del módulo, aplicando todos los conocimientos adquiridos hasta ese momento</p>
                <a href="#" class="btn btn-primary" id="boton">¿Que te parece?</a>
            </div>
        </div>
    
    </div>

</div>


